*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

header{
    background-color: black;
    display: flex;
    justify-content: baseline;
    padding: 0,10rem;
    align-items: center
}

header img{
    width: 100px;
    padding: 0px 8px;
}

.Menu{
    color: #ffffff;
    position: absolute;
    top: 0,8em;
    right: 1em;
}

header nav a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 100px;
    padding: 5px 5px;
    
}

header nav ul{
    list-style: none;
    display: flex;
}

main{
    padding: 15px 35px;
}

.Reserva h1{
    color: #B3221C;
    font-size: 35px;
    padding: 10px 0px;
}

.Reserva ul{
    background-color: #E5DEC2;
    list-style: none;
    padding: 18px 10px;
}

.Reserva li{
    color: black;
    padding: 0px 5px;
}

.Pais{
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

.Pais input{
    border-radius: 15px 15px;
    border: none;
    width: 25em;
    height: 2em;
    padding: 0px 5px;
    margin: 10px;
}

.Fecha{
    display: flex;
}

.Fecha input{
    border-radius: 15px 15px;
    border: none;
    width: 23em;
    height: 2em;
    padding: 0px 5px;
    margin: 8px;
    margin-top: -3px;
}

.Clase{
    display: flex;
    align-items: center;
}

.Clase select{
    border-radius: 15px 15px;
    border: none;
    width: 25em;
    height: 2em;
    padding: 0px 5px;
}

.Boton1{
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    border: 3px solid #B3221C;
    background-color: #B3221C;
    border-radius: 5px 5px;
    padding: 4px;
    position: absolute;
    right: 60em;
}

.Boton1:hover{
    border: 3px solid rgb(138, 14, 14);
    background-color:  rgb(138, 14, 14);
}

.Cancelar{
    border-radius: 0 0 20px 20px;
}

.Paquetes h2{
    text-align: center;
    font-size: 27px;
    margin-top: 50px;
    color: #000000;
}

.Clase select{
    width: 25em;
}

.card-conteiner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card{
    width: 300px;
    height: 400px;
    background-color: #CEA93A;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: 47%;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 30px;
}

.card-content p{
    font-size: 15px;
    line-height: 1.5;
}

.card .precio{
    font-size: 20px;
}

.Boton2{
    font-size: 15px;
    display: inline-block;
    padding: 4px;
    border: 3px solid #B3221C;
    background-color: #B3221C;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    color: #ffffff;
}

.Boton2:hover{
    border: 3px solid rgb(138, 14, 14);
    background-color:  rgb(138, 14, 14);
}

.Beneficios{
    text-align: center;
    background-color: #E5DEC2;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 20px 20px 20px 20px;
}

.Beneficios h2{
    font-size: 25px;
    margin-bottom: 15px;
}

.Beneficios h3{
    margin-bottom: 10px;
}

.Beneficios section{
    display: flex;
    justify-content: space-evenly;
}

.Beneficios article{
    width: 30%;
    margin-top: 5px;
}

.Beneficios .material-symbols-outlined {
  font-size: 50px;
}


@media(min-width:30em){
   
}

.Navegador .Mail{
    display: flex;
    justify-content: center;
}

.Navegador h3{
    text-align: center;
    margin: 30px;
}

.Mail input{
    border-radius: 5px 0 0 5px;
    border: 1; 
    border-color: 3px solid black;
    height: 33px;
    width: 25em;
    padding: 0px 5px;
}

.Boton3{
    font-size: medium;
    color: #ffffff;
    background-color: #B3221C;
    width: 90px;
    height: 37px;
    border-radius: 0px 5px 5px 0px;
    border: 3px solid #B3221C;
}

.Boton3:hover{
    border: 3px solid rgb(138, 14, 14);
    background-color:  rgb(138, 14, 14);
}
